
// KfW Design Tokens v0.5.7 | MPL-2.0 | https://github.com/openkfw/design-tokens

$kfw-base-color-blue-100: #e9f5fb;
$kfw-base-color-blue-400: #54b3e2;
$kfw-base-color-blue-500: #007abc;
$kfw-base-color-blue-600: #005a8c;
$kfw-base-color-blue-700: #00446e;
$kfw-base-color-blue-800: #00375b;
$kfw-base-color-green-100: #ecfded;
$kfw-base-color-green-300: #b7f9aa;
$kfw-base-color-green-400: #94eb90;
$kfw-base-color-green-700: #398357;
$kfw-base-color-white-90: #ffffffe6;
$kfw-base-color-white-95: #fffffff2;
$kfw-base-color-white: #ffffff;
$kfw-base-color-black: #000000;
$kfw-base-color-gray-50: #f6f7f8;
$kfw-base-color-gray-100: #eef0f2;
$kfw-base-color-gray-200: #d8dfe3;
$kfw-base-color-gray-300: #a1adb5;
$kfw-base-color-gray-400: #6d767d;
$kfw-base-color-gray-500-10: #41484c1a;
$kfw-base-color-gray-500-30: #41484c4d;
$kfw-base-color-gray-500-90: #41484ce6;
$kfw-base-color-gray-500: #41484c;
$kfw-base-color-gray-600: #2d3134;
$kfw-base-color-violet-400: #9598e0;
$kfw-base-color-violet-500: #686fc8;
$kfw-base-color-red-400: #c80538;
$kfw-base-color-yellow-500: #eac80b;
$kfw-base-fontfamily-sans: "KfW Centro Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$kfw-base-fontfamily-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$kfw-base-space-static-5: 0.5rem;
$kfw-base-space-static-10: 1rem;
$kfw-base-space-static-15: 1.5rem;
$kfw-base-space-static-20: 2rem;
$kfw-base-space-static-25: 2.5rem;
$kfw-base-space-static-30: 3rem;
$kfw-base-space-static-35: 3.5rem;
$kfw-base-space-static-40: 4rem;
$kfw-base-space-static-50: 5rem;
$kfw-base-space-static-60: 6rem;
$kfw-base-space-fluid-5-min: 0.5rem;
$kfw-base-space-fluid-5-max: 1rem;
$kfw-base-space-fluid-5-val: 0.735vi + 0.588px;
$kfw-base-space-fluid-10-min: 1rem;
$kfw-base-space-fluid-10-max: 1.5rem;
$kfw-base-space-fluid-10-val: 0.735vi + 0.5588rem;
$kfw-base-space-fluid-15-min: 1.5rem;
$kfw-base-space-fluid-15-max: 2rem;
$kfw-base-space-fluid-15-val: 0.735vi + 1.0588rem;
$kfw-base-space-fluid-20-min: 2rem;
$kfw-base-space-fluid-20-max: 2.5rem;
$kfw-base-space-fluid-20-val: 0.735vi + 1.5588rem;
$kfw-base-space-fluid-25-min: 2.5rem;
$kfw-base-space-fluid-25-max: 3rem;
$kfw-base-space-fluid-25-val: 0.735vi + 2.0588rem;
$kfw-base-space-fluid-30-min: 3rem;
$kfw-base-space-fluid-30-max: 3.5rem;
$kfw-base-space-fluid-30-val: 0.735vi + 2.5588rem;
$kfw-base-space-fluid-35-min: 3.5rem;
$kfw-base-space-fluid-35-max: 4rem;
$kfw-base-space-fluid-35-val: 0.735vi + 3.0588rem;
$kfw-base-space-fluid-40-min: 4rem;
$kfw-base-space-fluid-40-max: 5rem;
$kfw-base-space-fluid-40-val: 1.471vi + 3.1176rem;
$kfw-base-space-fluid-50-min: 5rem;
$kfw-base-space-fluid-50-max: 6rem;
$kfw-base-space-fluid-50-val: 1.471vi + 4.1176rem;
$kfw-base-fontsize-static-sm: 1.4rem;
$kfw-base-fontsize-static-md: 1.6rem;
$kfw-base-fontsize-static-lg: 1.8rem;
$kfw-base-fontsize-static-xl: 2rem;
$kfw-base-fontsize-static-2xl: 2.2rem;
$kfw-base-fontsize-static-3xl: 2.4rem;
$kfw-base-fontsize-static-4xl: 2.6rem;
$kfw-base-fontsize-static-5xl: 2.8rem;
$kfw-base-fontsize-static-6xl: 3rem;
$kfw-base-fontsize-static-7xl: 3.2rem;
$kfw-base-fontsize-static-8xl: 3.6rem;
$kfw-base-fontsize-fluid-sm-min: 1.4rem;
$kfw-base-fontsize-fluid-sm-max: 1.6rem;
$kfw-base-fontsize-fluid-sm-val: 0.294vi + 1.2235rem;
$kfw-base-fontsize-fluid-md-min: 1.6rem;
$kfw-base-fontsize-fluid-md-max: 1.8rem;
$kfw-base-fontsize-fluid-md-val: 0.294vi + 1.4235rem;
$kfw-base-fontsize-fluid-lg-min: 1.8rem;
$kfw-base-fontsize-fluid-lg-max: 2rem;
$kfw-base-fontsize-fluid-lg-val: 0.294vi + 1.6235rem;
$kfw-base-fontsize-fluid-xl-min: 2rem;
$kfw-base-fontsize-fluid-xl-max: 2.2rem;
$kfw-base-fontsize-fluid-xl-val: 0.294vi + 1.8235rem;
$kfw-base-fontsize-fluid-2xl-min: 2.2rem;
$kfw-base-fontsize-fluid-2xl-max: 2.4rem;
$kfw-base-fontsize-fluid-2xl-val: 0.294vi + 2.0235rem;
$kfw-base-fontsize-fluid-3xl-min: 2.4rem;
$kfw-base-fontsize-fluid-3xl-max: 2.6rem;
$kfw-base-fontsize-fluid-3xl-val: 0.294vi + 2.2235rem;
$kfw-base-fontsize-fluid-4xl-min: 2.6rem;
$kfw-base-fontsize-fluid-4xl-max: 2.8rem;
$kfw-base-fontsize-fluid-4xl-val: 0.294vi + 2.4234999999999998rem;
$kfw-base-fontsize-fluid-5xl-min: 2.8rem;
$kfw-base-fontsize-fluid-5xl-max: 3.2rem;
$kfw-base-fontsize-fluid-5xl-val: 0.588vi + 2.4471rem;
$kfw-base-fontsize-fluid-6xl-min: 3rem;
$kfw-base-fontsize-fluid-6xl-max: 3.6rem;
$kfw-base-fontsize-fluid-6xl-val: 0.882vi + 2.4706rem;
$kfw-base-lineheight-2xs: 1.2;
$kfw-base-lineheight-xs: 1.3;
$kfw-base-lineheight-sm: 1.333;
$kfw-base-lineheight-md: 1.4;
$kfw-base-lineheight-lg: 1.5;
$kfw-base-borderradius-sm: 2px;
$kfw-base-borderradius-md: 0.4rem;
$kfw-base-borderradius-lg: 2rem;
$kfw-base-borderradius-circle: 999.9rem;
$kfw-base-borderwidth-md: 1px;
$kfw-base-borderwidth-lg: 2px;
$kfw-base-fontweight-regular: 400;
$kfw-base-fontweight-medium: 500;
$kfw-base-letterspacing-tight: -0.5px;
$kfw-base-letterspacing-normal: 0;
$kfw-base-letterspacing-wide: 0.5px;
$kfw-base-letterspacing-wider: 1px;
$kfw-base-layout-breakpoint-xs: 320px;
$kfw-base-layout-breakpoint-sm: 600px;
$kfw-base-layout-breakpoint-md: 840px;
$kfw-base-layout-breakpoint-lg: 960px;
$kfw-base-layout-breakpoint-xl: 1280px;
$kfw-base-layout-container-sm: 89.6rem;
$kfw-base-layout-container-md: 108rem;
$kfw-base-layout-container-lg: 128rem;
$kfw-base-layout-safezone-static-md: 2rem;
$kfw-base-layout-safezone-static-lg: 4rem;
$kfw-base-layout-safezone-fluid-min: 2rem;
$kfw-base-layout-safezone-fluid-max: 4rem;
$kfw-base-layout-safezone-fluid-val: 2.941vi + 0.2353rem;
$kfw-base-layout-gridcolumn-1: 1;
$kfw-base-layout-gridcolumn-2: 2;
$kfw-base-layout-gridcolumn-3: 3;
$kfw-base-layout-gridcolumn-4: 4;
$kfw-base-layout-gridcolumn-6: 6;
$kfw-base-layout-gridcolumn-8: 8;
$kfw-base-layout-gridcolumn-12: 12;
$kfw-base-layout-gridgap-static-xs: 1.2rem;
$kfw-base-layout-gridgap-static-sm: 1.8rem;
$kfw-base-layout-gridgap-static-md: 2.2rem;
$kfw-base-layout-gridgap-static-lg: 2.6rem;
$kfw-base-layout-gridgap-static-xl: 3.6rem;
$kfw-base-layout-gridgap-fluid-min: 1.2rem;
$kfw-base-layout-gridgap-fluid-max: 3.6rem;
$kfw-base-layout-gridgap-fluid-val: 3.529vi - 0.9176rem;
$kfw-color-fn: #005a8c; // Main interaction color for buttons and links
$kfw-color-fn-active: #00446e;
$kfw-color-fn-inactive: #a1adb5;
$kfw-color-fn-border: #2d3134;
$kfw-color-fn-label: #2d3134;
$kfw-color-text: #2d3134; // Main text color for body
$kfw-color-text-on-dark-bg: #ffffff;
$kfw-color-text-on-disabled: #ffffff;
$kfw-color-text-headline-on-dark-bg: #b7f9aa;
$kfw-color-background: #ffffff; // Main background color for body
$kfw-color-background-subtle: #f6f7f8;
$kfw-color-background-disabled: #a1adb5;
$kfw-color-background-light-blue: #e9f5fb;
$kfw-color-background-light-green: #ecfded;
$kfw-color-background-dark-blue: #00375b;
$kfw-color-background-dark-green: #398357;
$kfw-color-opaque-white-90: #ffffffe6;
$kfw-color-opaque-white-95: #fffffff2;
$kfw-color-opaque-gray-500-10: #41484c1a;
$kfw-color-opaque-gray-500-30: #41484c4d;
$kfw-color-opaque-gray-500-90: #41484ce6;
$kfw-color-state-danger: #c80538;
$kfw-color-state-success: #398357;
$kfw-color-state-warning: #9598e0;
$kfw-color-status-red: #c80538;
$kfw-color-status-yellow: #eac80b;
$kfw-color-status-green: #398357;
$kfw-color-line-6: #00446e;
$kfw-color-line-7: #2d3134;
$kfw-color-line-8: #a1adb5;
$kfw-color-line-9: #005a8c;
$kfw-color-line-10: #2d3134;
$kfw-color-line-11: #b7f9aa;
$kfw-color-line-12: #a1adb5;
$kfw-color-product-container: #f6f7f8;
$kfw-color-product-benefit: #007abc;
$kfw-color-product-credit: #398357;
$kfw-color-product-cooperation: #686fc8;
$kfw-color-product-credit-benefit: #41484c;
$kfw-color-icon: #005a8c;
$kfw-color-icon-secondary: #54b3e2;
$kfw-color-icon-disabled: #398357;
$kfw-color-icon-disabled-secondary: #94eb90;
$kfw-fontfamily: "KfW Centro Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
$kfw-fontfamily-code: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$kfw-space-xsmall: 1rem;
$kfw-space-small: 2rem;
$kfw-space-medium: 3rem;
$kfw-space-large-min: 3.5rem;
$kfw-space-large-max: 4rem;
$kfw-space-large-val: 0.735vi + 3.0588rem;
$kfw-space-big-min: 5rem;
$kfw-space-big-max: 6rem;
$kfw-space-big-val: 1.471vi + 4.1176rem;
$kfw-fontspace: 2rem;
$kfw-fontspace-2xsmall: 0.5rem;
$kfw-fontspace-xsmall: 1rem;
$kfw-fontspace-small: 1.5rem;
$kfw-fontspace-large: 3rem;
$kfw-fontspace-heading-1: 2rem;
$kfw-fontspace-heading-2: 2rem;
$kfw-fontspace-heading-3: 1rem;
$kfw-fontspace-heading-4: 1rem;
$kfw-fontspace-heading-5: 1rem;
$kfw-fontspace-heading-6: 1rem;
$kfw-fontsize: 1.6rem;
$kfw-fontsize-introduction: 2rem;
$kfw-fontsize-large: 1.8rem;
$kfw-fontsize-small: 1.4rem;
$kfw-fontsize-heading-1-min: 3rem;
$kfw-fontsize-heading-1-max: 3.6rem;
$kfw-fontsize-heading-1-val: 0.882vi + 2.4706rem;
$kfw-fontsize-heading-2-min: 2.8rem;
$kfw-fontsize-heading-2-max: 3.2rem;
$kfw-fontsize-heading-2-val: 0.588vi + 2.4471rem;
$kfw-fontsize-heading-3-min: 2.4rem;
$kfw-fontsize-heading-3-max: 2.6rem;
$kfw-fontsize-heading-3-val: 0.294vi + 2.2235rem;
$kfw-fontsize-heading-4-min: 2rem;
$kfw-fontsize-heading-4-max: 2.2rem;
$kfw-fontsize-heading-4-val: 0.294vi + 1.8235rem;
$kfw-fontsize-heading-5: 1.8rem;
$kfw-fontsize-heading-6: 1.6rem;
$kfw-lineheight: 1.4;
$kfw-lineheight-list: 1.5;
$kfw-lineheight-heading: 1.3;
$kfw-lineheight-heading-5: 1.333;
$kfw-borderradius: 0.4rem;
$kfw-borderradius-large: 2rem;
$kfw-borderradius-small: 2px;
$kfw-borderradius-circle: 999.9rem;
$kfw-borderwidth: 1px;
$kfw-borderwidth-large: 2px;
$kfw-focusring-outline-width: 2px;
$kfw-focusring-outline-offset: 2px;
$kfw-focusring-outline-style: dashed;
$kfw-fontweight: 400;
$kfw-fontweight-bold: 500;
$kfw-breakpoint-mobile: 600px;
$kfw-breakpoint-tablet: 840px;
$kfw-breakpoint-desktop: 960px;
$kfw-breakpoint-desktop-large: 1280px;
$kfw-contentwrapper-narrow: 89.6rem;
$kfw-contentwrapper-basic: 108rem;
$kfw-contentwrapper-extended: 128rem;
$kfw-safezone-min: 2rem;
$kfw-safezone-max: 4rem;
$kfw-safezone-val: 2.941vi + 0.2353rem;
