@font-face {
  font-display: swap;
  font-family: "KfW Centro Sans";
  font-style: normal;
  font-weight: 400;
  src: local("KfW-Centro-Sans");
  src: url(/fonts/KFWCentroSans-Regular.woff2) format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "KfW Centro Sans";
  font-style: normal;
  font-weight: 500;
  src: local("KfW-Centro-Sans");
  src: url(/fonts/KFWCentroSans-Medium.woff2) format("woff2");
}
