@font-face {
  font-display: swap;
  font-family: "KfW Centro Sans";
  font-style: normal;
  font-weight: 400;
  src: url("KFWCentroSans-Regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "KfW Centro Sans";
  font-style: italic;
  font-weight: 400;
  src: url("KFWCentroSans-Italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "KfW Centro Sans";
  font-style: normal;
  font-weight: 500;
  src: url("KFWCentroSans-Medium.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "KfW Centro Sans";
  font-style: italic;
  font-weight: 500;
  src: url("KFWCentroSans-MediumItalic.woff2") format("woff2");
}
