/* Layer Definition */
@layer core, third-party, components, utility;
@layer core.fonts, core.reset, core.tokens, core.base;
@layer third-party.imports, third-party.overrides;
@layer components.base, components.variations;

/* Fonts */
@import "partials/fonts.css" layer(core.fonts);

/* Reset */
@import "partials/uaplus.css" layer(core.reset);

/* KfW Design Tokens */
@import url("@openkfw/design-tokens/output/web_stable_10px/css/kfw-design-tokens.light.css") layer(core.tokens);
@import "partials/gen-custom-media.css" layer(core.tokens);

@layer core {
  @layer base {
    :root {
      font-size: 62.5%; /* 1rem = 10px */
      font-family: var(--kfw-fontfamily);
      background-color: var(--kfw-color-background);
      color: var(--kfw-color-text);
      line-height: var(--kfw-lineheight);
      font-weight: var(--kfw-fontweight);
      font-synthesis: none;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    body {
      font-size: 1.6rem; /* 16px */
      margin: 0;
    }

    p {
      margin-block: 0 var(--kfw-fontspace);
    }

    a {
      font-weight: var(--kfw-fontweight-bold);
      color: var(--kfw-color-fn);
      text-decoration: inherit;
    }

    a:hover {
      color: var(--kfw-color-fn-active);
    }

    :is(h1, h2, h3, h4, h5, h6) {
      font-weight: var(--kfw-fontweight-bold);
      line-height: var(--kfw-lineheight-heading);
    }

    h1 {
      --kfw-fontsize-heading-1-val: 0.882vi + 2.4706rem;

      font-size: clamp(var(--kfw-fontsize-heading-1-min), var(--kfw-fontsize-heading-1-val), var(--kfw-fontsize-heading-1-max));
      margin-block: 0 var(--kfw-fontspace-heading-1);
    }

    @media (--kfw-breakpoint-desktop-large) {
      h1 {
        letter-spacing: var(--kfw-base-letterspacing-tight);
      }
    }

    h2 {
      font-size: clamp(var(--kfw-fontsize-heading-2-min), var(--kfw-fontsize-heading-2-val), var(--kfw-fontsize-heading-2-max));
      margin-block: 0 var(--kfw-fontspace-heading-2);
      letter-spacing: var(--kfw-base-letterspacing-tight);
    }

    h3 {
      font-size: clamp(var(--kfw-fontsize-heading-3-min), var(--kfw-fontsize-heading-3-val), var(--kfw-fontsize-heading-3-max));
      margin-block: 0 var(--kfw-fontspace-heading-3);
      letter-spacing: var(--kfw-base-letterspacing-tight);
    }

    @media (--kfw-breakpoint-desktop-large) {
      h3 {
        letter-spacing: var(--kfw-base-letterspacing-normal);
      }
    }

    h4 {
      font-size: clamp(var(--kfw-fontsize-heading-4-min), var(--kfw-fontsize-heading-4-val), var(--kfw-fontsize-heading-4-max));
      margin-block: 0 var(--kfw-fontspace-heading-4);
    }

    h5 {
      font-size: var(--kfw-fontsize-heading-5);
      margin-block: 0 var(--kfw-fontspace-heading-5);
    }

    h6 {
      font-size: var(--kfw-fontsize-heading-6);
      margin-block: 0 var(--kfw-fontspace-heading-6);
    }

    input:is(
      [type="text"],
      [type="email"],
      [type="password"],
      [type="date"],
      [type="datetime-local"],
      [type="month"],
      [type="number"],
      [type="tel"],
      [type="time"],
      [type="url"],
      [type="week"]
    ) {
      width: 100%;
      height: 4.3rem;
      padding: 1rem 1.5rem;
      font-size: var(--kfw-fontsize);
      font-family: var(--kfw-fontfamily);
      line-height: var(--kfw-lineheight);
      border: var(--kfw-base-borderwidth-md) solid red;
      color: var(--kfw-color-fn);
      border-radius: var(--kfw-borderradius);
      margin-top: 0;
    }

    input:is(
        [type="text"],
        [type="email"],
        [type="password"],
        [type="date"],
        [type="datetime-local"],
        [type="month"],
        [type="number"],
        [type="tel"],
        [type="time"],
        [type="url"],
        [type="week"]
      ):hover {
      border-color: var(--kfw-color-fn-active);
      color: var(--kfw-color-fn-active);
    }

    label {
      margin: 0;
      margin-bottom: 0.8rem;
      padding: 0;
      font-weight: var(--kfw-fontweight-bold);
      color: rgb(45, 55, 72);
      display: inline-block;
    }

    button {
      cursor: pointer;
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.6em 1.2em;
      font-size: 1em;
      font-weight: var(--kfw-fontweight-bold);
      font-family: inherit;
      transition: border-color 0.25s;
      background-color: #f9f9f9;
    }

    button:hover {
      border-color: #646cff;
    }

    button:focus,
    button:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
    }

    .button-group {
      display: flex;
      align-items: center;
      gap: 0.75rem; /* space-x-3 */
    }

    .container {
      max-width: var(--kfw-contentwrapper-extended);
      margin: 0 auto;
      padding: 0 1.6rem;
    }

    .card {
      padding: 2em;
    }

    .intro {
      font-size: var(--kfw-fontsize-introduction);
    }
  }
}

@layer components {
  @layer base {
    header {
      background-color: var(--kfw-color-background);
      border-bottom: 1px solid var(--kfw-color-line-11);
    }
    header :is(.container) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      align-items: center;
      min-height: 6.4rem;
      padding: 1.6rem; /* @todo use token here */
      padding: 0px 40px;
    }

    .hero {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 1.6rem; /* 16px */
      padding: 2.5rem 1rem 2.5rem 1rem; /* 25px 10px */
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 48rem; /* 480px */
      color: white;
    }

    .hero :is(h1, h2, h3, h4, h5, h6) {
      margin-bottom: 0;
    }
  }
  @layer variations {
    /* Import component variations styles here if any */
  }
}

/* Utility and helper classes */
@layer utility {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .d-block {
    display: block;
  }
  .d-inline-block {
    display: inline-block;
  }
  .text-center {
    text-align: center;
  }
  .m-auto {
    margin-left: auto;
    margin-right: auto;
  }
}
