/* =========================================================
   Layer Definition
   ========================================================= */
@layer core, third-party, components, utility;
@layer core.fonts, core.reset, core.tokens, core.base;
@layer third-party.imports, third-party.overrides;
@layer components.base, components.variations;

/* =========================================================
   Imports
   ========================================================= */
@import url("partials/fonts.css") layer(core.fonts);
@import url("partials/uaplus.css") layer(core.reset);
@import url("@openkfw/design-tokens/output/css/kfw-design-tokens.light.css") layer(core.tokens);
@import url("partials/gen-custom-media.css") layer(core.tokens);

/* =========================================================
   Core
   ========================================================= */
@layer core {
  @layer tokens {
    :root {
      /* fluid shorthands */
      --kfw-safezone: clamp(var(--kfw-safezone-min), var(--kfw-safezone-val), var(--kfw-safezone-max));
      --kfw-space-large: clamp(var(--kfw-space-large-min), var(--kfw-space-large-val), var(--kfw-space-large-max));

      /* global color.tokens prepared for overwrites by parent selector (bg-dark) */
      --headline-color: var(--kfw-color-text);
    }
  }

  @layer base {
    :root {
      font-size: 62.5%; /* 1rem = 10px */
      font-family: var(--kfw-fontfamily);
      background-color: var(--kfw-color-background);
      color: var(--kfw-color-text);
      line-height: var(--kfw-lineheight);
      font-weight: var(--kfw-fontweight);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    *:focus-visible {
      outline: var(--kfw-focusring-outline-width) var(--kfw-focusring-outline-style) var(--kfw-color-fn-active);
      outline-offset: var(--kfw-focusring-outline-offset);
    }

    body {
      margin: 0;
      font-size: 1.6rem; /* Set 16px as default */
    }

    strong,
    b {
      font-weight: var(--kfw-fontweight-bold);
    }

    small {
      font-size: 80%;
    }

    sub,
    sup {
      position: relative;
      line-height: 0;
      vertical-align: baseline;
      font-size: 75%;
    }

    sub {
      bottom: -0.25em;
    }

    sup {
      top: -0.5em;
    }

    :is(address, blockquote, dl, ol, p, pre, table, ul) {
      margin-block: 0 var(--kfw-fontspace);
    }

    :is(address, blockquote, dl, ol, p, pre, table, ul):last-child {
      margin-block-end: 0;
    }

    ul,
    ol,
    menu {
      list-style: none inside none;
      padding-inline-start: 0;
    }

    mark {
      padding: 0.125rem 0.25rem;
      vertical-align: baseline;
      background-color: var(--kfw-color-background-dark-blue);
      color: var(--kfw-color-text-on-dark-bg);
    }

    blockquote {
      margin-inline: 0;
    }

    blockquote footer {
      margin-top: var(--kfw-fontspace-2xsmall);
    }

    a {
      --link-color: var(--kfw-color-fn);
      --link-color-hover: var(--kfw-color-fn-active);

      color: var(--link-color);
      text-decoration: none;
    }

    a:is(:hover, :focus) {
      color: var(--link-color-hover);
      text-decoration: underline;
    }

    img,
    video {
      max-width: 100%;
      height: auto;
    }

    :where(audio, canvas, iframe, img, svg, video) {
      vertical-align: middle;
    }

    figure {
      display: block;
      margin: 0;
      padding: 0;
    }

    figure figcaption {
      padding: var(--kfw-space-xsmall);
    }

    code,
    kbd,
    samp,
    pre {
      font-family: var(--kfw-fontfamily-code);
      line-height: initial;
    }

    pre {
      display: block;
      margin-block: 0 var(--kfw-fontspace);
      overflow: auto;
      -ms-overflow-style: scrollbar;
    }

    abbr[title] {
      text-decoration: underline dotted;
      cursor: help;
    }

    ins {
      color: var(--kfw-color-state-success);
      text-decoration: none;
    }

    del {
      color: var(--kfw-color-state-danger);
    }

    :is(h1, h2, h3, h4, h5, h6, .hl--1, .hl--2, .hl--3, .hl--4, .hl--5, .hl--6) {
      font-weight: var(--kfw-fontweight-bold);
      line-height: var(--kfw-lineheight-heading);
      margin-block-start: 0;
      color: var(--headline-color);
      display: block;
    }

    h1,
    .hl--1 {
      font-size: clamp(var(--kfw-fontsize-heading-1-min), var(--kfw-fontsize-heading-1-val), var(--kfw-fontsize-heading-1-max));
      margin-block-end: var(--kfw-fontspace-heading-1);
    }

    @media (--kfw-breakpoint-desktop-large) {
      h1,
      .hl--1 {
        letter-spacing: var(--kfw-base-letterspacing-tight);
      }
    }

    h2,
    .hl--2 {
      font-size: clamp(var(--kfw-fontsize-heading-2-min), var(--kfw-fontsize-heading-2-val), var(--kfw-fontsize-heading-2-max));
      margin-block-end: var(--kfw-fontspace-heading-2);
      letter-spacing: var(--kfw-base-letterspacing-tight);
    }

    h3,
    .hl--3 {
      font-size: clamp(var(--kfw-fontsize-heading-3-min), var(--kfw-fontsize-heading-3-val), var(--kfw-fontsize-heading-3-max));
      margin-block-end: var(--kfw-fontspace-heading-3);
      letter-spacing: var(--kfw-base-letterspacing-tight);
    }

    @media (--kfw-breakpoint-desktop-large) {
      h3,
      .hl--3 {
        letter-spacing: var(--kfw-base-letterspacing-normal);
      }
    }

    h4,
    .hl--4 {
      font-size: clamp(var(--kfw-fontsize-heading-4-min), var(--kfw-fontsize-heading-4-val), var(--kfw-fontsize-heading-4-max));
      margin-block-end: var(--kfw-fontspace-heading-4);
    }

    h5,
    .hl--5 {
      font-size: var(--kfw-fontsize-heading-5);
      margin-block-end: var(--kfw-fontspace-heading-5);
      line-height: var(--kfw-lineheight-heading-5);
      letter-spacing: var(--kfw-base-letterspacing-normal);
    }

    @media (--kfw-breakpoint-desktop-large) {
      h5,
      .hl--5 {
        letter-spacing: var(--kfw-base-letterspacing-wide);
      }
    }

    h6,
    .hl--6 {
      font-size: var(--kfw-fontsize-heading-6);
      margin-block-end: var(--kfw-fontspace-heading-6);
      letter-spacing: var(--kfw-base-letterspacing-wide);
      line-height: var(--kfw-lineheight);
    }

    input:is(
      [type="text"],
      [type="email"],
      [type="password"],
      [type="date"],
      [type="datetime-local"],
      [type="month"],
      [type="number"],
      [type="tel"],
      [type="time"],
      [type="url"],
      [type="week"]
    ) {
      width: 100%;
      height: 4.3rem;
      padding: 1rem 1.5rem;
      font-size: var(--kfw-fontsize);
      font-family: inherit;
      line-height: var(--kfw-lineheight);
      color: var(--kfw-color-fn);
      border-radius: var(--kfw-borderradius);
      margin-block-start: 0;
      border: var(--kfw-borderwidth-large) solid var(--kfw-base-color-gray-500);
    }

    input:is(
        [type="text"],
        [type="email"],
        [type="password"],
        [type="date"],
        [type="datetime-local"],
        [type="month"],
        [type="number"],
        [type="tel"],
        [type="time"],
        [type="url"],
        [type="week"]
      ):hover {
      border-color: var(--kfw-color-fn-active);
      color: var(--kfw-color-fn-active);
    }

    label {
      display: inline-block;
      margin-bottom: 0.8rem;
      font-weight: var(--kfw-fontweight-bold);
      color: var(--kfw-color-text);
    }

    .invalid-feedback {
      color: var(--kfw-color-state-danger);
      font-size: var(--kfw-fontsize-small);
      line-height: var(--kfw-lineheight);
      letter-spacing: var(--kfw-base-letterspacing-normal);
      display: block;
      margin-block: 0.8rem 2rem;
    }

    .form-group {
      margin-bottom: var(--kfw-space-medium);
    }

    .button {
      font-family: var(--kfw-fontfamily);
      font-size: var(--kfw-fontsize);
      border-radius: var(--kfw-borderradius);
      cursor: pointer;
      display: inline-flex;
      gap: 0.8rem;
      text-align: center;
      border: 1px solid transparent;
      text-decoration: none;
      line-height: var(--kfw-lineheight);
      padding: 1.2rem 2.5rem;
      justify-content: center;
      max-width: 100%;
      vertical-align: middle;
      white-space: nowrap;
    }

    [role="button"],
    button {
      cursor: pointer;
    }

    .button--primary {
      --button-border-color: var(--kfw-color-fn);
      --button-bg: var(--kfw-color-fn);
      --button-color: var(--kfw-color-text-on-dark-bg);
      --button-border-color-hover: var(--kfw-color-fn-active);
      --button-bg-hover: var(--kfw-color-fn-active);
      --button-color-hover: var(--button-color);

      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--kfw-borderwidth) solid var(--button-border-color);
    }

    .button--primary:is(:hover, :focus) {
      color: var(--button-color-hover);
      background-color: var(--button-bg-hover);
      border-color: var(--button-border-color-hover);
      text-decoration: underline;
    }

    .button--secondary {
      --button-border-color: var(--kfw-color-fn);
      --button-bg: transparent;
      --button-color: var(--kfw-color-fn);
      --button-border-color-hover: var(--kfw-color-fn-active);
      --button-bg-hover: var(--kfw-color-fn-active);
      --button-color-hover: var(--kfw-color-text-on-dark-bg);

      background-color: var(--button-bg);
      color: var(--button-color);
      border: var(--kfw-borderwidth) solid var(--button-border-color);
    }

    .button--secondary:is(:hover, :focus) {
      color: var(--button-color-hover);
      background-color: var(--button-bg-hover);
      border-color: var(--button-border-color-hover);
      text-decoration: underline;
    }

    .button--tertiary {
      --button-color: var(--kfw-color-fn);
      --button-bg: transparent;
      --button-color-hover: var(--kfw-color-fn-active);

      background-color: var(--button-bg);
      color: var(--button-color);
      padding: 0;
      border: 0;
      text-decoration: none;
    }

    .button--tertiary:is(:hover, :focus) {
      color: var(--button-color-hover);
      text-decoration: underline;
    }

    .button--small {
      padding: 0.8rem 1.6rem;
      font-size: var(--kfw-fontsize-small);
    }

    :is(.container, .container-fluid, .container-narrow, .container-extended, .container-extended-fullwidth) {
      margin-inline: auto;
      width: 100%;
    }

    :is(.container, .container-fluid, .container-narrow, .container-extended) {
      padding-inline: var(--kfw-safezone);
    }

    .container {
      max-width: var(--kfw-contentwrapper-basic);
    }

    .container-narrow {
      max-width: var(--kfw-contentwrapper-narrow);
    }

    .container-extended {
      max-width: var(--kfw-contentwrapper-extended);
    }

    .container-extended-fullwidth {
      max-width: var(--kfw-contentwrapper-extended);
    }

    [class^="container"] > section {
      margin-block: var(--kfw-space-large) var(--kfw-space-large);
    }
  }
}

/* =========================================================
   Components
   ========================================================= */
@layer components {
  @layer base {
    .header {
      background-color: var(--kfw-color-background);
      border-bottom: 1px solid var(--kfw-color-line-11);
      position: sticky;
      top: 0;
      z-index: 1000;
    }

    .header > div {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      min-height: 6.4rem;
      gap: var(--kfw-space-medium);
    }

    .header img {
      width: auto;
    }

    .header__menu {
      text-align: right;
    }

    .header-logo-mobile {
      height: 2.8rem;
    }

    .header-logo-desktop {
      display: none;
    }

    .header--sticky .header-logo-mobile {
      display: block;
    }

    .header--sticky .header-logo-desktop {
      display: none;
    }

    @media (--kfw-breakpoint-desktop) {
      .header :is(button, a) {
        font-size: var(--kfw-fontsize-large);
      }

      .header-logo-mobile {
        display: none;
      }

      .header-logo-desktop {
        display: block;
        height: 6rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }

    .footer {
      border-top: var(--kfw-base-borderwidth-md) solid var(--kfw-color-line-11);
      background-color: var(--kfw-color-background-dark-blue);
      color: var(--kfw-color-text-on-dark-bg);
      font-size: var(--kfw-fontsize-small);
      line-height: var(--kfw-lineheight);
      padding-block: var(--kfw-space-medium) var(--kfw-space-large);
    }

    .footer .button--secondary {
      /* use the same styles as .bg-dark .button--secondary */
      --button-color: var(--kfw-color-text-on-dark-bg);
      --button-border-color: var(--kfw-color-text-on-dark-bg);
      --button-bg-hover: var(--kfw-color-text-on-dark-bg);
      --button-color-hover: var(--kfw-color-text);
      --button-border-color-hover: var(--kfw-color-text-on-dark-bg);
    }

    .footer a:not(.button) {
      /* use the same styles as .bg-dark a */
      --link-color: var(--kfw-color-text-on-dark-bg);
      --link-color-hover: var(--kfw-color-text-on-dark-bg);

      text-decoration: underline;
    }

    .footer a:not(.button):is(:hover, :focus) {
      text-decoration: none;
    }

    .footer > * {
      align-items: baseline;
      display: flex;
      flex-direction: column;
      gap: var(--kfw-space-medium);
      margin-top: 0 !important;
      justify-content: space-between;
    }

    @media (--kfw-breakpoint-desktop) {
      .footer > * {
        gap: 3.6rem;
        flex-direction: row;
      }
    }

    .footer__copyright {
      flex-shrink: 0;
    }

    .footer__list {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-flow: row wrap;
      max-width: 100%;
      gap: 1.6rem 3.5rem; /* @todo check confluence, there is 4rem */
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: var(--kfw-safezone);
      margin-block-end: var(--kfw-fontspace);
    }

    @media (--kfw-breakpoint-tablet) {
      .grid {
        grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
        margin-block-end: 0;
      }
    }

    .hero {
      --hero-content-desktop-width: 42.9rem;
    }

    .hero > * {
      position: relative;
    }

    .hero__bars {
      display: block;
      width: 100%;
    }

    @media (--kfw-breakpoint-desktop) {
      .hero__bars {
        width: var(--hero-content-desktop-width);
        position: absolute;
        top: 4rem;
        left: 4rem;
        bottom: 4rem;
      }
    }

    .hero__title {
      width: 100%;
      margin-block: 0;
      align-items: center;
      display: flex;
      flex-direction: row;
      padding: 2rem;
      background-color: var(--kfw-color-background-light-blue);
    }

    @media (--kfw-breakpoint-desktop) {
      .hero__title {
        flex-direction: row;
        position: absolute;
        display: flex;
        width: var(--hero-content-desktop-width);
        background-color: var(--kfw-color-opaque-white-95);
        left: 4rem;
        top: calc(4rem + 1rem + 25px); /* outsidePaddingTop + 10px space + barsHeight */
        border-radius: 0 0 var(--kfw-borderradius-large) 0;
        padding: 2rem 3rem 3rem;
      }
    }

    .hero__image {
      width: 100%;
      margin-inline: auto;
      display: block;
      object-fit: cover;
      height: auto;
      max-width: 128rem;
    }
  }

  @layer variations {
    .bg-dark {
      --headline-color: var(--kfw-color-text-headline-on-dark-bg);

      background-color: var(--kfw-color-background-dark-blue);
      color: var(--kfw-color-text-on-dark-bg);
    }

    .bg-dark a:not(.button) {
      --link-color: var(--kfw-color-text-on-dark-bg);
      --link-color-hover: var(--kfw-color-text-on-dark-bg);

      text-decoration: underline;
    }

    .bg-dark a:not(.button):is(:hover, :focus) {
      text-decoration: none;
    }

    .bg-dark .button--primary {
      --button-color: var(--kfw-color-fn);
      --button-bg: var(--kfw-color-text-on-dark-bg);
      --button-border-color: var(--kfw-color-text-on-dark-bg);
      --button-bg-hover: var(--kfw-color-text-on-dark-bg);
      --button-color-hover: var(--button-color);
      --button-border-color-hover: var(--kfw-color-text-on-dark-bg);
    }

    .bg-dark .button--secondary {
      --button-color: var(--kfw-color-text-on-dark-bg);
      --button-border-color: var(--kfw-color-text-on-dark-bg);
      --button-bg-hover: var(--kfw-color-text-on-dark-bg);
      --button-color-hover: var(--kfw-color-text);
      --button-border-color-hover: var(--kfw-color-text-on-dark-bg);
    }

    .bg-dark .button--tertiary {
      --button-color: var(--kfw-color-text-on-dark-bg);
      --button-color-hover: var(--kfw-color-text-on-dark-bg);
    }

    .bg-subtle {
      background-color: var(--kfw-color-background-subtle);
    }

    .hl--sb {
      line-height: var(--kfw-lineheight-heading);
      letter-spacing: var(--kfw-base-letterspacing-normal);
      font-size: var(--kfw-fontsize-introduction);
    }

    @media (--kfw-breakpoint-desktop-large) {
      .hl--sb {
        font-size: var(--kfw-base-fontsize-static-5xl);
      }
    }

    .smk--1 {
      line-height: var(--kfw-lineheight-heading);
      letter-spacing: var(--kfw-base-letterspacing-wider);
      font-size: var(--kfw-fontsize-small);
    }

    .tx--1 {
      line-height: var(--kfw-lineheight);
      letter-spacing: var(--kfw-base-letterspacing-normal);
      font-size: var(--kfw-fontsize);
    }

    .tx--2 {
      line-height: var(--kfw-lineheight);
      letter-spacing: var(--kfw-base-letterspacing-normal);
      font-size: var(--kfw-fontsize-small);
    }

    .tx--4 {
      line-height: var(--kfw-lineheight);
      letter-spacing: var(--kfw-base-letterspacing-normal);
      font-size: var(--kfw-fontsize-introduction);
    }
  }
}

/* Utility and helper classes */
@layer utility {
  .visually-hidden {
    clip: rect(0 0 0 0); /* stylelint-disable-line property-no-deprecated */
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .d-block {
    display: block;
  }

  .m-auto {
    margin-inline: auto;
  }

  .p-x {
    padding-inline: var(--kfw-safezone);
  }

  .p-y {
    padding-block: var(--kfw-safezone);
  }

  .m-x {
    margin-inline: var(--kfw-safezone);
  }

  .m-y {
    margin-block: var(--kfw-safezone);
  }

  .mb-xsmall {
    margin-block-end: var(--kfw-space-xsmall);
  }

  .mb-small {
    margin-block-end: var(--kfw-space-small);
  }

  .mb-medium {
    margin-block-end: var(--kfw-space-medium);
  }

  .mb-large {
    margin-block-end: var(--kfw-space-large);
  }
}
